body{
    background-color: snow;
}
h1{
    text-align: center;
}
.cont-first{
    background-color: darkgray;
    color: black;
    padding: 20px 50px;
}
.cont-second{
    padding: 100px 20px;
    background-color: gainsboro;
    color: black;
}
.pad-top{
    padding-top: 20px;
}
.btn{
    width: 100%;
}
